/*
Note: any .css or .scss files included in the 'styles' directory
will be correctly compiled during `gulp serve` and `gulp`
 */


/* COMMON */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Tahoma, Helvetica, Sans-Serif;
  background-color: #f6f6f6;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
}

select {
  font-size: 20px;
  margin: 0 10px;
}

.displayBlock {
  display: block;
}

.alignSelfEnd {
  align-self: flex-end;
}

.cursorPointer {
  cursor: pointer;
}

.drawerHeader {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 8px;
}

#picContainer {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

#picContainer div {
  position: relative;
  right: 50%;
  text-align: center;
  height: 100%;
  width: 100%;
}

#picContainer div img {
  height: 100%;
  display: inline-block;
  margin-right: -100%;
}

#avatar {
  height: 100%;
  width: auto;
  margin: auto;
}

.displayNone {
  display: none;
}

.currCellHighlight {
  background-color: yellow;
}

.rangeHighlight {
  background-color: lightyellow;
}





/* END COMMON */


/* CLUES */

.heading {
  font-size: large;
  font-weight: bold;
  padding: 10px 0;
}

.textAlignCenter {
  text-align: center;
}

.marginAutoTopBot {
  margin-top: auto;
  margin-bottom: auto;
}

.margin2px10px {
  margin: 2px 10px;
}

.copy {
  font-size: small;
  color: lightgray;
  font-style: italic;
  padding: 2px 10px;
}

.author {
  padding: 2px 10px;
}

.colorWhite {
  color: white;
}

.padRight {
  padding-right: 5px;
}

.displayFlex {
  display: flex;
}

.columnCount-2 {
  position: relative;
  height: calc(100% - 31.6px);
  column-count: 2;
  column-gap: 1em;
  column-fill: auto;
}

.padding-5 {
  padding: 5px;
}

.noPadding {
  padding: 0;
}





/* END CLUES */

.links {
  margin-bottom: 20px;
  font-size: 12px;
}





/*#gridContainer {
  height: calc(100vh - 10px);
  align-self: stretch;
  flex-grow: 10;
}*/

#clueContainer {
  align-self: stretch;
}

#puzNotepad {
  background-color: #ffffe0;
  padding: 4px;
  border: 1px solid #808080;
  margin: 10px;
}

#puzTable {
  border-collapse: collapse;
  border-spacing: 0px;
  background-color: white;
}

#puzTable td {
  position: relative;
  border: 1px solid #000000;
}

#puzTable .black {
  background-color: black;
}

#kbContainer {
  bottom: 100%;
  height: 15vh;
}

#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  align-content: center;
  background-color: lightgray;
  z-index: 1;
}

#splashImage {
  width: 20%;
  margin: auto;
}

.circle {
  border: 1px solid black;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

#puzTable .shade {
  background-color: lightgray;
}

.clueNumber {
  position: absolute;
  top: 0;
  left: 1px;
  font-size: 8px;
  font-weight: bold;
  pointer-events: none;
  background-color: white;
  line-height: 9px;
}

.square {
  display: flex;
  vertical-align: baseline;
  font-weight: bold;
  pointer-events: none;
  box-sizing: border-box;
}

.letter {
  margin: auto;
}

.flexDirCol {
  flex-direction: column;
}

.flexColumnWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flexWrap {
  flex-wrap: wrap;
}

.flexCenter {
  justify-content: center;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.flexGrow-1 {
  flex-grow: 1;
}

.flexGrow-2 {
  flex-grow: 2;
}

.flexGrow-4 {
  flex-grow: 4;
}

.bgColorWhite {
  background-color: white;
}

.kbButton {
  margin: 0.5%;
  display: flex;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .14), 0 6px 2px -4px rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .12);
  border-radius: 5px;
  box-sizing: border-box;
  transition-duration: 0.2s;
  transition-property: box-shadow;
  /*transition-timing-function: cubic-bezier(0.4, 0, 1, 1);*/
  will-change: box-shadow;
}

.kbButton:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#backspace {
  background-color: rgba(255, 64, 129, .6);
}

#enter {
  background-color: rgba(63, 81, 181, .6);
}

.buttonContents {
  font-size: 14px;
  margin: auto;
}

.width5pct {
  width: 5%;
}

.width9pct {
  width: 9%;
}

.width20pct {
  width: 20%;
}

.width33pct {
  width: 33.3%;
}

.width40pct {
  width: 40%;
}

.width60pct {
  width: 60%;
}

.fullWidth {
  width: 100%;
}

.height25vh {
  height: 25vh;
}

.height40px {
  height: 40px;
}

.height24px {
  height: 24px;
}

.height80pct {
  height: 80%;
}

.height100pct {
  height: 100%;
}

.height64px {
  height: 64px !important;
}

.overflowHidden {
  overflow: hidden;
}

.overflowYScroll {
  overflow-y: scroll;
}

#gamesPanel {
  padding: 10px;
  transform: translate(100%, 0);
  transition: transform 0.3s ease;
}

#gamesPanel.slideIn {
  transform: translate(0, 0);
}

#appContainer {
  transform: translate(0, 0);
  transition: transform 0.3s ease;
}

#appContainer.slideOut {
  transform: translate(-100%, 0);
}

.posAbsolute {
  position: absolute;
}

.puzzleWidth {
  width: calc(100% - 10px);
}

.colorSalmon {
  background-color: Salmon;
}

.colorLightSkyBlue {
  background-color: LightSkyBlue;
}

.margin5pxAuto {
  margin: 5px auto;
}

.fontSizeSmall {
  font-size: small;
}

#clueCard {
  background-color: white;
  margin: 0 5px 2px;
}

.cardShadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.padding2px5px {
  padding: 2px 5px;
}

.padding0px5px {
  padding: 0 5px;
}

.alignRight {
  text-align: right;
}

.closeDialogPosition {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (min-width: 420px) {
  #gamesPanelContainer {
    width: 400px;
    margin-left: calc((100vw - 400px)/2);
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) {
  #puzTable {
    width: 50%;
  }

  #clueContainer {
    display: flex;
    width: 50%;
  }

  #acrossContainer,
  #downContainer {
    display: block;
  }

  #clueCard {
    display: none;
  }

  #kbContainer {
    height: 20vh;
  }

  .clueNumber {
    font-size: 10px;
    line-height: 12px;
  }

  .letter {
    font-size: x-large;
  }
}

@media screen and (orientation: portrait) and (min-width: 800px) {
  #singleClue {
    font-size: large;
  }
  .clueNumber {
    font-size: 12px;
    line-height: 14px;
  }

  .letter {
    font-size: x-large;
  }
}
