**/node_modules
**/old_node_modules
.tmp/
.firebase/
dist/
seed/
seed-new/
seed-clean/
related_files/
app.yaml
**/service-account.json
**/temp.txt
**/notify.js
**/ui-debug.log
**/database-debug.log
**/firestore-debug.log
**/firebase-debug.log