.activity__spinner {
  margin: 0;
}

.activity__games {
  display: flex;
  flex-direction: row;
}

.puzzle__info {
  text-align: center;
  flex-direction: column;
}

.puzzle__title {
  font-weight: bold;
  color: white;
}

.puzzle__author {
  padding: 2px 10px;
  color: white;
}

.puzzle__copyright {
  font-size: small;
  color: lightgray;
  font-style: italic;
  padding: 2px 10px;
}

.puzzle__notepad {
  background-color: #ffffe0;
  padding: 4px;
  border: 1px solid #808080;
  margin: 10px;
  color: black;
}

.spacer--10px {
  margin: 5px;
}

.spacer--20px {
  margin: 10px;
}

.splash {
  width: 100vw;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.splash__image {
  width: 20vw;
  height: auto;
  margin: 5px auto;
  aspect-ratio: 1;
}

.overflow__scroll--y {
  overflow-y: auto;
}

.width--100vw {
  width: 100vw;
}

/* .display__flex {
  display: flex;
} */

.flex__grow--1 {
  flex-grow: 1;
}

.margin--auto {
  margin: auto;
}

.margin--0-5px {
  margin: 0 5px;
}

.margin--5px-auto {
  margin: 5px auto;
}

.margin--10px {
  margin: 10px;
}

.color__background--white-trans {
  background-color: rgba(255, 255, 255, 0.33);
}

.scorebox {
  flex-grow: 1;
  margin: 0 5px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.33);
}

.name {
  text-align: center;
  overflow: hidden;
}

.score {
  text-align: center;
}
