/* COMMON */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', Sans-Serif;
  background-color: #f6f6f6;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
}

select {
  font-size: 20px;
  margin: 0 10px;
}

.displayBlock {
  display: block;
}

.alignItemsCenter {
  align-items: center;
}

.alignSelfEnd {
  align-self: flex-end;
}

.alignSelfCenter {
  align-self: center;
}

.cursorPointer {
  cursor: pointer;
}

.drawerHeader {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 8px;
}

.picContainer {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  align-self: center;
}

.photoCrop {
  height: 100%;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

.displayNone {
  display: none;
}

/* Increased specificity required for precedence */
#returnToSignin.displayNone {
  display: none;
}

/* Increased specificity required for precedence */
#replayButton.displayNone {
  display: none;
}

.currCellHighlight {
  background-color: yellow;
}

.rangeHighlight {
  background-color: gold;
}

.mdl-list__item:hover {
  background-color: #b8b8b8;
}

/* END COMMON */

/* CLUES */

.heading {
  font-weight: bold;
  padding: 0 0 10px;
}

.textAlignCenter {
  text-align: center;
}

.marginAutoTopBot {
  margin-top: auto;
  margin-bottom: auto;
}

.margin2px10px {
  margin: 2px 10px;
}

.margin0px5px {
  margin: 0 5px;
}

.copy {
  font-size: small;
  color: lightgray;
  font-style: italic;
  padding: 2px 10px;
}

.author {
  padding: 2px 10px;
}

.colorWhite {
  color: white;
}

.colorLightGray {
  color: lightGray;
}

.padRight {
  padding-right: 5px;
}

.displayFlex {
  display: flex;
}

.columnCount-2 {
  position: relative;
  height: calc(100% - 31.6px);
  column-count: 2;
  column-gap: 1em;
  column-fill: auto;
}

.padding-5 {
  padding: 5px;
}

.padding10px {
  padding: 10px;
}

.noPadding {
  padding: 0;
}

.webkitMargin0 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* END CLUES */

.links {
  margin-bottom: 20px;
  font-size: 12px;
}

/*#gridContainer {
  height: calc(100vh - 10px);
  align-self: stretch;
  flex-grow: 10;
}*/

/*#clueContainer {
  align-self: stretch;
}*/

#puzNotepad {
  background-color: #ffffe0;
  padding: 4px;
  border: 1px solid #808080;
  margin: 10px;
}

#puzTable {
  border-collapse: collapse;
  border-spacing: 0px;
  background-color: white;
}

#puzTable td {
  position: relative;
  border: 1px solid #000000;
}

#puzTable .black {
  background-color: black;
}

#kbContainer {
  bottom: 100%;
  height: 15vh;
}

#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  align-content: center;
  background-color: lightgray;
  z-index: 1;
}

#splashImage {
  width: 20%;
  height: auto;
  margin: 5px auto;
  aspect-ratio: 1;
}

/* .circle {
  border: 1px solid black;
  border-radius: 50%;
  width: 100%;
  height: 100%;
} */

.upperLeft {
  top: 0;
  left: 0;
}

#puzTable .shade {
  background-color: lightgray;
}

.clueNumber {
  position: absolute;
  top: 2px;
  left: 1px;
  font-size: 2vw;
  font-weight: bold;
  pointer-events: none;
  background-color: transparent;
  line-height: 9px;
}

.fontWeightBold {
  font-weight: bold;
}

.square {
  display: flex;
  vertical-align: baseline;
  font-weight: bold;
  pointer-events: none;
  box-sizing: border-box;
}

.border2pxTop {
  border-top: 2px solid gold !important;
}

.border2pxBottom {
  border-bottom: 2px solid gold !important;
}

.border2pxLeft {
  border-left: 2px solid gold !important;
}

.border2pxRight {
  border-right: 2px solid gold !important;
}

.bgTransRed {
  background-color: rgba(255, 0, 0, 0.5);
}

.bgTransBlue {
  background-color: rgba(0, 0, 255, 0.5);
}

.fontTransRed {
  color: rgba(255, 0, 0, 1);
}

.fontTransBlue {
  color: rgba(0, 0, 255, 1);
}

.bgTransGray {
  background-color: rgba(100, 100, 100, 0.5);
}

.whiteSpaceNowrap {
  white-space: nowrap;
}

.flexDirCol {
  flex-direction: column;
}

.flexColumnWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flexWrap {
  flex-wrap: wrap;
}

.flexCenter {
  justify-content: center;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.spaceAround {
  justify-content: space-around;
}

.spaceBetween {
  justify-content: space-between;
}

.flexGrow-1 {
  flex-grow: 1;
}

.flexGrow-2 {
  flex-grow: 2;
}

.flexGrow-4 {
  flex-grow: 4;
}

.bgColorWhite {
  background-color: white;
}

.bgColorTransWhite {
  background-color: #ffffff55;
}

.bgColorTransGold {
  background-color: #ffd700dd;
}

.kbButton {
  margin: 0.5%;
  display: flex;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 6px 2px -4px rgba(0, 0, 0, 0.2),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  box-sizing: border-box;
  transition-duration: 0.2s;
  transition-property: box-shadow;
  /*transition-timing-function: cubic-bezier(0.4, 0, 1, 1);*/
  will-change: box-shadow;
  cursor: pointer;
}

.kbButton:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.subscript {
  vertical-align: baseline;
  position: relative;
  top: 0.6em;
  font-size: 50%;
}

#backspace {
  background-color: rgba(255, 64, 129, 0.6);
}

#enter {
  background-color: rgba(63, 81, 181, 0.6);
}

.marginAuto {
  margin: auto;
}

.margin10px {
  margin: 10px;
}

.width5pct {
  width: 5%;
}

.width9pct {
  width: 9%;
}

.width20pct {
  width: 20%;
}

.width33pct {
  width: 33.3%;
}

.width40pct {
  width: 40%;
}

.width50pct {
  width: 50%;
}

.width60pct {
  width: 60%;
}

.width60px {
  width: 60px;
}

.maxWidth400px {
  max-width: 400px;
}

.fullWidth {
  width: 100%;
}

.height25vh {
  height: 25vh;
}

.height40px {
  height: 40px;
}

.height24px {
  height: 24px;
}

.height80pct {
  height: 80%;
}

.height100pct {
  height: 100%;
}

.minHt36px {
  min-height: 36px;
}

.spacer20px {
  width: 20px;
}

.overflowHidden {
  overflow: hidden;
}

.overflowYScroll {
  overflow-y: scroll;
}

.noOutline {
  outline: none;
}

#gamesPanel {
  padding: 10px;
  transform: translate(0, 0);
  transition: transform 0.3s ease;
}

#gamesPanel.slideOut {
  transform: translate(-100%, 0);
}

#appContainer {
  transform: translate(100%, 0);
  transition: transform 0.3s ease;
}

#appContainer.slideIn {
  transform: translate(0, 0);
}

.posAbsolute {
  position: absolute;
}

.puzzleWidth {
  width: calc(100% - 10px);
}

.colorSalmon {
  background-color: Salmon;
}

.colorLightSkyBlue {
  background-color: LightSkyBlue;
}

.margin5pxAuto {
  margin: 5px auto;
}

.fontSizeSmall {
  font-size: small;
}

.fontSizeLarge {
  font-size: large;
}

.fontSizeXLarge {
  font-size: x-large;
}

.cluePop {
  font-size: larger;
  padding: 5px 0;
}

#clueCard {
  background-color: white;
  padding: 5px;
  margin: 0 5px 2px;
}

.cardShadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.padding2px5px {
  padding: 2px 5px;
}

.padding0px5px {
  padding: 0 5px;
}

.padding0 {
  padding: 0 !important;
}

.alignRight {
  text-align: right;
}

.closeDialogPosition {
  position: absolute;
  top: 10px;
  right: 10px;
}

.buttonIsolation {
  margin: 10px auto 10px auto;
  width: 80%;
  text-align: center;
}

.clickInheritParent {
  pointer-events: inherit;
}

@media screen and (min-width: 420px) {
  #gamesPanelContainer {
    max-width: 400px;
    margin-left: calc((100vw - 400px) / 2);
  }
}

@media screen and (min-aspect-ratio: 18/25) {
  body {
    font-size: 20px;
    line-height: 24px;
  }

  .clueNumber {
    font-size: 1.4vh;
  }

  #puzTable {
    width: 70vh;
  }

  #clueContainer {
    width: 70vh;
    margin: auto;
  }

  #kbContainer {
    width: 70vh;
    margin: auto;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  .clueNumber {
    font-size: 0.8vw;
  }

  #puzTable {
    width: 45vw;
  }

  #clueContainer {
    display: flex;
    height: 45vw;
    width: 50vw;
  }

  #acrossContainer,
  #downContainer {
    width: 50%;
    display: block;
  }

  #acrossClues,
  #downClues {
    height: calc(100% - 30px);
  }

  #clueCard {
    display: none;
  }

  #kbContainer {
    height: 20vh;
  }

  #title {
    display: block;
  }
}

@media screen and (min-aspect-ratio: 14/9) {
  #clueContainer {
    height: 70%;
    display: flex;
    width: 50vw;
  }

  #kbContainer {
    height: 25%;
    width: 50vw;
  }

  #appContainer {
    flex-direction: column;
  }
}

@media screen and (min-aspect-ratio: 2/1) {
  #puzTable {
    width: 35vw;
  }

  #clueContainer {
    width: 60vw;
  }

  #kbContainer {
    width: 60vw;
  }
}
