/* COMMON */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', Sans-Serif;
  background-color: #f6f6f6;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
}

.header__activity {
  display: flex;
  align-items: center;
}

.container__app {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  position: absolute;
  width: 100vw;
}

.overflow {
  display: flex;
  align-items: center;
}

.drawer {
  height: 100%;
  justify-content: space-between;
}

.drawer__player {
  display: flex;
  /* box-sizing: border-box; */
  flex-direction: column;
  /* padding: 8px; */
}

.drawer__close {
  align-self: flex-end;
  cursor: pointer;
  padding: 5px;
}

.drawer__content {
  display: flex;
  flex-direction: column;
}

.drawer__concede {
  text-align: center;
  margin: 5px auto;
}

.user-photo__crop {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  align-self: center;
}

.user-name {
  margin: 5px auto;
}

.button__auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.container__activity {
  translate: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*** insert above here

select {
  font-size: 20px;
  margin: 0 10px;
}

.displayBlock {
  display: block;
}

.alignItemsCenter {
  align-items: center;
}

.alignSelfEnd {
  align-self: flex-end;
}

.alignSelfStretch {
  align-self: stretch;
}

.alignSelfCenter {
  align-self: center;
}

.drawerHeader {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 8px;
}

.photoCrop {
  height: 100%;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

.displayNone {
  display: none;
}

/* Increased specificity required for precedence */
/*#returnToSignin.displayNone {
  display: none;
}

/* Increased specificity required for precedence */
/*#replayButton.displayNone {
  display: none;
}

.signInOut {
  vertical-align: middle;
  margin-bottom: 3px;
}

.currCellHighlight {
  background-color: yellow;
}

.rangeHighlight {
  background-color: gold;
}

.mdl-list__item:hover {
  background-color: #b8b8b8;
}

*/

/* END COMMON */

/* CLUES */

/*
.textAlignCenter {
  text-align: center;
}

.marginAutoTopBot {
  margin-top: auto;
  margin-bottom: auto;
}

.margin2px10px {
  margin: 2px 10px;
}

.margin0px5px {
  margin: 0 5px;
}

.margin0 {
  margin: 0;
}

.margin5px {
  margin: 5px;
}

.copy {
  font-size: small;
  color: lightgray;
  font-style: italic;
  padding: 2px 10px;
}

.colorWhite {
  color: white;
}

.colorDarkGray {
  color: DarkGray;
}

.displayFlex {
  display: flex;
}

.columnCount-2 {
  position: relative;
  height: calc(100% - 31.6px);
  column-count: 2;
  column-gap: 1em;
  column-fill: auto;
}

.padding10px {
  padding: 10px;
}

.noPadding {
  padding: 0;
}

.noPaddingTop {
  padding-top: 0;
}

.webkitMargin0 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
*/

/* END CLUES */

/*
.links {
  margin-bottom: 20px;
  font-size: 12px;
}
*/

/* #gridContainer {
  background-color: transparent;
  border: 0.5px black;
  padding: 0.25px;
} */

/*

#friendsLabel:after {
  background-color: lightgray;
}

.upperLeft {
  top: 0;
  left: 0;
}

.transparent {
  background-color: transparent;
}

.clueNumber {
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: 2vw;
  line-height: 2vw;
  pointer-events: none;
  background-color: transparent;
}

.fontWeightBold {
  font-weight: bold;
}

.border2pxTop {
  border-top: 2px solid gold !important;
}

.border2pxBottom {
  border-bottom: 2px solid gold !important;
}

.border2pxLeft {
  border-left: 2px solid gold !important;
}

.border2pxRight {
  border-right: 2px solid gold !important;
}

.highlightBorder {
  border: 2px solid gold !important;
}

#highlighter {
  pointer-events: none;
  z-index: 3;
  position: absolute;
  box-sizing: content-box;
}

.bgTransRed {
  background-color: rgba(255, 0, 0, 0.5);
}

.bgTransBlue {
  background-color: rgba(0, 0, 255, 0.5);
}

.fontRed {
  color: #f00;
}

.fontBlue {
  color: #00f;
}

.bgTransGray {
  background-color: rgba(100, 100, 100, 0.5);
}

.whiteSpaceNowrap {
  white-space: nowrap;
}

.flexDirCol {
  flex-direction: column;
}

.flexColumnWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flexWrap {
  flex-wrap: wrap;
}

.flexCenter {
  justify-content: center;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.spaceAround {
  justify-content: space-around;
}

.spaceBetween {
  justify-content: space-between;
}

.flexGrow-1 {
  flex-grow: 1;
}

.flexGrow-2 {
  flex-grow: 2;
}

.flexGrow-4 {
  flex-grow: 4;
}

.bgColorWhite {
  background-color: white;
}

.bgColorTransWhite {
  background-color: #ffffff55;
}

.bgColorTransGold {
  background-color: #ffd700dd;
}

.userSelectNone {
  user-select: none;
}

#headerSpinner {
  margin: auto;
}

#backspace {
  background-color: rgba(255, 64, 129, 0.6);
}

#enter {
  background-color: rgba(63, 81, 181, 0.6);
}

.marginAuto {
  margin: auto;
}

.margin10px {
  margin: 10px;
}

.width5pct {
  width: 5%;
}

.width20pct {
  width: 20%;
}

.width33pct {
  width: 33.3%;
}

.width40pct {
  width: 40%;
}

.width50pct {
  width: 50%;
}

.width60pct {
  width: 60%;
}

.width60px {
  width: 60px;
}

.maxHeight50pct {
  max-height: 50%;
}

.maxHeight85pct {
  max-height: 85%;
}

.maxWidth400px {
  max-width: 400px;
}

.fullWidth {
  width: 100%;
}

.height25vh {
  height: 25vh;
}

.height40px {
  height: 40px;
}

.height24px {
  height: 24px;
}

.height100pct {
  height: 100%;
}

.minHt36px {
  min-height: 36px;
}

.overflowHidden {
  overflow: hidden;
}

.noOutline {
  outline: none;
}

#gamesPanel {
  padding: 10px;
  transform: translate(0, 0);
  transition: transform 0.3s ease;
}

#gamesPanel.slideOut {
  transform: translate(-100%, 0);
}

.gamesHeading {
  padding: 10px 20px 0;
}

.posAbsolute {
  position: absolute;
}

.posFixed {
  position: fixed;
}

colorSalmon {
  background-color: Salmon;
}

.colorLightSkyBlue {
  background-color: LightSkyBlue;
}

.margin5pxAuto {
  margin: 5px auto;
}

.fontSizeSmall {
  font-size: small;
}

.fontSizeLarge {
  font-size: large;
}

.fontSizeXLarge {
  font-size: x-large;
}

.unused {
  width: 5px;
}

#settingsDialog {
  width: 500px;
  padding: 0;
}

#settingsDialog header {
  height: 40px;
}

.padding2px5px {
  padding: 2px 5px;
}

.padding0px5px {
  padding: 0 5px;
}

.padding0 {
  padding: 0 !important;
}

.alignRight {
  text-align: right;
}

.closeDialogPosition {
  position: absolute;
  top: 10px;
  right: 10px;
}

.buttonIsolation {
  margin: 10px auto 10px auto;
  width: 80%;
  text-align: center;
}

.clickInheritParent {
  pointer-events: inherit;
}

/* insert below here  */

@media screen and (min-aspect-ratio: 5/4) {
  .header__title {
    display: block;
    content: 'CrosSwords';
  }
}

@media screen and (min-aspect-ratio: 3/2) {
  .container__app {
    display: flex;
    flex-direction: column;
  }
}
