hr {
  margin: 5px;
  width: 100%;
  color: darkgray;
}

.panel__settings {
  height: 100%;
  overflow-y: auto;
}

.card__settings {
  align-items: center;
  width: 100vw;
}

.section__avatar {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.textfield {
  width: 100%;
  text-align: center;
}

.container__handle {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
}

.handle__entry {
  width: auto;
}

.container__buttons--settings {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.settings__scoring {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings__radios--scoring {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 420px) {
  hr {
    width: 350px;
  }

  .section__avatar {
    width: 400px;
  }
}
