body { 
  display: flex;
  flex-direction: column;
  font-family: Tahoma, Helvetica, Sans-Serif; 
  padding-left: 20px; 
  background-color: #f6f6f6; 
  font-size: 14px; 
  box-sizing: border-box;
}

a { 
  color: #0c519f; 
  text-decoration: none; 
}

a:hover { 
  color: #cc0000; 
  text-decoration: underline; 
}

.links { 
  margin-bottom: 20px; 
  font-size: 12px; 
}

#gridContainer {
  width: 30vw;
}

#puzNotepad { 
  background-color: #ffffe0; 
  padding: 4px; 
  border: 1px solid #808080; 
  display: none; 
}

#puzTable { 
  border-collapse: collapse; 
  border-spacing: 0px; 
}

#puzTable td { 
  position: relative;
  width: 26px; 
  padding: 0px; 
  text-align: center; 
  font-size: 12px; 
  border: 1px solid #000000; 
  background-color: white; 
}

#puzTable .black { 
  background-color: black; 
}

#puzTable .circle { 
  /*background-color:yellow; */
  border: 1px solid black;
  border-radius: 50%;
  width: 95%;
  height: 95%;
}

#puzTable .shade { 
  background-color: lightgray; 
}

.clueNumber { 
  position: absolute;
  top: 0;
  left: 1px;
  font-size: 8px; 
  font-weight: bold;
  text-align: left; 
  height: 9px;
  pointer-events: none;
  background-color: white;
}

.square { 
  display: flex;
  vertical-align: baseline; 
  font-weight: bold; 
  pointer-events: none;
  box-sizing: border-box;
}

.letter {
  margin: auto;
}

.copy {  
  font-size: 11px; 
  color: #303030; 
  font-style: italic; 
  margin-top: 2px; 
}

.clue { 
  display: flex;
  padding-right: 10px;
}

.cluehead { 
  font-size: 18px; 
  background-color: #87CEFA; 
  font-weight: bold; 
  padding: 4px; 
  margin-bottom: 20px; 
  border: 1px solid #808080; 
  text-align: center; 
  letter-spacing: 2px; 
}

#clueContainer {
  display: flex;
  margin: 20px 10px; 
  visibility: hidden; 
}

#acrossContainer, #downContainer, #appContainer {
  height: 80vh;
}

#kbContainer {
  height: 20vh;
}

.padRight {
  padding-right: 5px;
}

.displayFlex {
  display: flex;
}

.flexDirCol {
  flex-direction: column;
}

.flexColumnWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flexCenter {
  justify-content: center;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.flexGrow-1 {
  flex-grow: 1;
}

.flexGrow-2 {
  flex-grow: 2;
}

.flexGrow-3 {
  flex-grow: 3;
}

.kbButton {
  padding: 3px;
  height: 7vh;
}