/* COMMON */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body { 
  font-family: Tahoma, Helvetica, Sans-Serif; 
  background-color: #f6f6f6; 
  font-size: 14px; 
  box-sizing: border-box;
  margin: 0;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

.currCellHighlight {
  background-color: yellow;
}

.rangeHighlight {
  background-color: lightyellow;
}

/* END COMMON */
/* CLUES */

.heading {
  font-size: large;
  font-weight: bold;
  padding: 5px 0 5px;
}

.padRight {
  padding-right: 5px;
}

.displayFlex {
  display: flex;
}

.columnCount-2 {
  position: relative;
  height: calc(100% - 31.6px);
  column-count: 2;
  column-gap: 1em;
  column-fill: auto;
}

.padding-5 {
  padding: 5px;
}

/* END CLUES */

.links { 
  margin-bottom: 20px; 
  font-size: 12px; 
}

/*#gridContainer {
  height: calc(100vh - 10px);
  align-self: stretch;
  flex-grow: 10;
}*/

.fullHeight {
  height: calc(100vh - 10px);
}

#puzNotepad { 
  background-color: #ffffe0; 
  padding: 4px; 
  border: 1px solid #808080; 
}

#puzTable { 
  border-collapse: collapse; 
  border-spacing: 0px; 
  background-color: white;
}

#puzTable td { 
  position: relative;
  border: 1px solid #000000; 
}

#puzTable .black { 
  background-color: black; 
}

.circle { 
  border: 1px solid black;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

#puzTable .shade { 
  background-color: lightgray; 
}

.clueNumber { 
  position: absolute;
  top: 0;
  left: 1px;
  font-size: 8px; 
  font-weight: bold;
  text-align: left; 
  height: 9px;
  pointer-events: none;
  background-color: white;
}

.square { 
  display: flex;
  vertical-align: baseline; 
  font-weight: bold; 
  pointer-events: none;
  box-sizing: border-box;
}

.letter {
  margin: auto;
}

.copy {  
  font-size: small; 
  color: #303030; 
  font-style: italic; 
  padding-top: 2px 0 2px;
}

#kbContainer {
  bottom: 100%;
  height: 20vh;
  /*visibility: hidden;*/
}

.flexDirCol {
  flex-direction: column;
}

.flexColumnWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flexCenter {
  justify-content: center;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.flexGrow-1 {
  flex-grow: 1;
}

.flexGrow-2 {
  flex-grow: 2;
}

.flexGrow-4 {
  flex-grow: 4;
}

.kbButton {
  margin: 3px;
}

.colorSalmon {
  background-color: Salmon;
}

.colorLightSkyBlue {
  background-color: LightSkyBlue;
}