.color__background--white-trans {
  background-color: rgba(255, 255, 255, 0.33);
}

.scores {
  display: flex;
}

.scorebox {
  flex-grow: 1;
  margin: 0 5px;
  width: 60px;
}

.name {
  text-align: center;
  overflow: hidden;
}

.score {
  text-align: center;
}
